<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card status="danger">
        <nb-card-header>Do you really want to delete: </nb-card-header>
        <nb-card-body>
            <b> Name: {{ data.name }} </b><br>
            <b> Type: {{ data.type }} </b><br>
        </nb-card-body>
        <nb-card-footer>
            <button [nbSpinner]="deleteSpinner" nbSpinnerStatus="danger" nbSpinnerSize="small" nbButton status="danger"
                (click)="deleteItem(data)">
                <!-- <button nbButton status="danger" (click)="ref.close()"> -->
                <nb-icon icon="trash"></nb-icon>Delete!
            </button>

        </nb-card-footer>
    </nb-card>
</ng-template>

<nb-card [nbSpinner]="spinner" nbSpinnerStatus="primary" nbSpinnerMessage="Loading your products">
    <nb-card-header>My products
    </nb-card-header>
    <nb-card-body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Type</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products" name="product">
                    <th>{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.productDescription}}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <button nbTooltip="Edit this product" nbTooltipStatus="success" nbButton size="tiny"
                                    type="button" status="success">
                                    <nb-icon icon="edit"></nb-icon>
                                </button>
                            </div>
                            <div class="col-md6">
                                <button (click)="openDeleteDialog(dialog, product)" nbTooltip="Delete this product!"
                                    nbTooltipStatus="danger" nbButton size="tiny" type="button" status="danger">
                                    <nb-icon icon="trash"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </nb-card-body>

</nb-card>