<div class="row">
    <div class="col-md-12">
        <nb-card [nbSpinner]="postSpinner" nbSpinnerStatus="primary">
            <nb-card-header>
                I have a new idea to share:
            </nb-card-header>
            <nb-card-body>
                <form #newPostForm="ngForm" (submit)="postNow(newPostForm.value)">
                    <div class="row d-flex ">
                        <div class="col-md-6">
                            <input fullWidth name="title" id="title" type="text" nbInput status="primary"
                                placeholder="Post title" required [(ngModel)]="postBody.title">
                        </div>
                        <div class="col-md-6">
                            <input name="description" id="descrip" type="text" nbInput status="primary"
                                placeholder="Description" fullWidth required [(ngModel)]="postBody.description">
                            <input type="hidden" name="userid" [(ngModel)]="postBody.userid">

                        </div>
                    </div>
                    <div class="row">
                        <nb-select multiple required name="tagId" [(ngModel)]="postBody.tagId"
                            placeholder="Select Tags">
                            <nb-option *ngFor="let tag of tags" value="{{  1 * tag.id + 1 }}">
                                {{ tag.title }}
                                {{ tag.id }}
                            </nb-option>

                        </nb-select>
                    </div>
                    <br>

                    <div class="row ">
                        <ckeditor #mytext name="text" data="<p>Hello, world!</p>" [(ngModel)]="postBody.text">
                        </ckeditor>
                        <!-- <ckeditor [config]="{ extraPlugins: 'divarea', height: '320' }"></ckeditor> -->
                    </div>
                    <br>
                    <div class="row">
                        <button type="submit" nbButton (click)="test()">Post now!</button>
                    </div>
                </form>
            </nb-card-body>



        </nb-card>
    </div>
</div>