<!-- Delete Dialog -->
<ng-template #dialogDelete let-data let-ref="dialogRef">
    <nb-card status="danger">
        <nb-card-header>{{ data }}</nb-card-header>
        <nb-card-body>This action cant be undone

        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close('delete')" status="danger">Delete!</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
<!-- Edit Dialog -->
<ng-template #dialogEdit let-data let-ref="dialogRef">
    <nb-card status="success">
        <nb-card-header>Template Dialog</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col">
                    <label for="title" class="label">Title:</label>
                    <input nbInput type="text" value="{{ data.title }}" [(ngModel)]="data.title" name="title">
                </div>
                <div class="col">
                    <label for="description" class="label">Description:</label>
                    <input nbInput type="text" value="{{ data.description }}" [(ngModel)]="data.description"
                        name="description">
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton (click)="ref.close(data)" status="success">Update tag</button>

        </nb-card-footer>
    </nb-card>
</ng-template>



<nb-card [nbSpinner]="spinner" nbSpinnerStatus="primary" nbSpinnerMessage="Loading your tags">
    <nb-card-header>My tags

    </nb-card-header>
    <nb-card-body>
        <table class="table" *ngIf="tags">
            <thead>
                <tr>
                    <th scope="col">Tag Title</th>
                    <th scope="col">Tag Description</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let tag of pageOfItems" name="tags">
                    <td>{{ tag?.title }}</td>
                    <td>{{ tag?.description }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <button (click)="openEditDialog(dialogEdit, tag)" nbTooltip="Edit this product"
                                    nbTooltipStatus="success" nbButton size="tiny" type="button" status="success">
                                    <nb-icon icon="edit"></nb-icon>
                                </button>
                            </div>
                            <div class="col-md6">
                                <button (click)="openDeleteDialog(dialogDelete, tag)" nbTooltip="Delete this product!"
                                    nbTooltipStatus="danger" nbButton size="tiny" type="button" status="danger">
                                    <nb-icon icon="trash"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </nb-card-body>
    <nb-card-footer>
        <jw-pagination *ngIf="tags" [items]="tags" (changePage)="onChangePage($event)"></jw-pagination>
    </nb-card-footer>

</nb-card>