<div class="row">
    <div class="col-md-12">
        <nb-card status="success">
            <nb-card-header>
                Add new tag:
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="title">Title:</label>
                        <input [(ngModel)]="newtag.title" nbInput name="title" type="text" status="success">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="title">Description:</label>
                        <input nbInput [(ngModel)]="newtag.description" name="description" type="text" status="success">
                    </div>
                </div>

            </nb-card-body>
            <nb-card-footer>
                <button type="button" (click)="addNewTag()" nbButton status="success">Add</button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>